.custom-nav{
    background-color: #293647;
    width: 280px;
}
.clasedeprueba{
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bienvenida{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.bienvenida-text{
    color: #A9A9A9;
    font-size: 20px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 200;
}
.bienvenida-hr{
    border: none; 
    border-top: 2px solid #A9A9A9; 
    width: 100%; 
}
.logospan{
    margin-right: 10px;
}
.sideTitle{
    color:black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
}
.text-sidebar{
  color:#FFFFFF;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 200;
}
.close-sesion-side{
    margin-top: 40%;
}
.sidebar {
    width: 250px;
    min-height: 100vh;
    transition: width 0.3s;
    background-color: #293647;
  }
  .logo-sidebar{
    filter: invert(0%); 
    transition: filter 0.3s ease; 
  }
  .sidebar.collapsed {
    width: 85px; 
  }
  
  .nav-link {
    padding: 15px;
  }
  
  .nav-link i {
    font-size: 1.5rem;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    width: 100%;
  }

  .navbar-right {
    display: flex;
    gap: 15px;
    padding-right: 20px;
  }
  .badge {
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .dropdown-menu {
    width: 250px;
  }
  
  .dropdown-menu .dropdown-item {
    white-space: normal;
    word-wrap: break-word;
  }
  .btn-outline-custom-2{
    color: #293647;
    border-color: #293647;
  }
  .btn-outline-custom-2:hover{
    background-color: #293647;
    color: white;
  }

  .sidebar-custom .sidebar-custom-2:hover{
    background-color: #CCBB5F; 
    color: #FFFFFF; 
  }
  .sidebar-custom .sidebar-custom-2.active{
    background-color: #CCBB5F; 
    color: #FFFFFF; 
  }
  .container-headerbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    padding-left: 15px;
  }
  .btn-outline-custom{
    color: #CCBB5F;
    border-color: #CCBB5F;
  }
  .btn-outline-custom:hover{
    background-color: #CCBB5F;
    color: white;
  }
  .container-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 15px;
    gap: 15px;
  }
  .text-end-dropdown{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 600;
  }
 .custom-dropdown-menu{
  width: 375px;
  background-color: #F4F5F7;
 }
 .custom-dropdown-menu > li{
  margin: 0 0 0 0;
 }
 .img-dropdown{
  width: 25px;
    height: 25px;
    border-radius: 50%;
 }
 .title-principal{
  color:black;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    padding-left: 15px;
 }
.content-principal-management{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
 .btn-new{
    color: #ffffff;
    background-color: #B88E2F;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 15px 15px 15px 15px;
    width: 340px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-new:hover {
  background-color: #a77c29;
  color: #fff; 
}
.div-btn-update{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.head-principal-container{
    display: flex;
    justify-content: end;
    padding-right: 15px;
}
.btn-edit{
    background-color: rgb(0, 140, 255);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
}
.btn-edit:hover{
    background-color: rgb(0, 47, 255);
}
.btn-delete{
    background-color: red;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    
}
.btn-delete:hover{
    background-color: rgb(191, 6, 6);
}
 @media (max-width:1120px) {
  .custom-dropdown-menu{
    width: 175px;
   }
 }