<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="assets/iconoprincipal.png" alt="Logo" width="auto" height="35" class="me-2">
                <span class="fs-4">CargaLink</span>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" class="nav-link-custom px-2 active">Principal</a></li>
            <li><a routerLink="/etransporte_registro" class="nav-link-custom px-2">Empresa Transportista</a></li>
            <li><a routerLink="/ecliente_registro" class="nav-link-custom px-2">Empresa cliente</a></li>
            <li><a routerLink="/nosotros" class="nav-link-custom px-2">Nosotros</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button routerLink="/login" type="button" class="btn btn-outline-dark me-2">Iniciar Sesión</button>
        </div>
    </header>
</div>
<div class="position-relative">
    <img src="assets/home_volvo.png" alt="Imagen" class="img-fluid">
    <div class="p-3 text-overlay">
        <p class="text-cargalink-cdmx_1-211">CargaLink CDMX</p>
        <p class="text-treating-all-skin-co_1-212">La aplicación que agiliza el contacto y contratación de servicios de
            transporte de carga, ideal para empresas
            pequeñas y medianas. Se simplifica la búsqueda, selección y contratación de opciones de transporte que
            operan dentro del territorio
            mexicano con viajes que inicien en la Ciudad de México.
        </p>
        <button routerLink="/login" type="button" class="custom-btn">Iniciar sesión</button>
    </div>
</div>
<div class="container container-emptrans">
    <div class="row text-center">
        <p class="txt_header_emptrans">Empresas de transporte</p>
    </div>
    <div class="row text-center">
        <p class="txt_services_emptrans">Servicios para transportistas</p>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="assets/home_gestion_vehiculos.png" class="img-fluid" alt="Gestion de vehiculos">
            <p class="item_trans">Gestión de sedes</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/home_gestion_conductores.png" class="img-fluid" alt="Gestion de conductores">
            <p class="item_trans">Gestión de conductores</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="assets/home_gestion_viajes.png" class="img-fluid" alt="Gestión de viajes">
            <p class="item_trans">Gestión de viajes</p>
        </div>
    </div>
    <div class="row">
        <button routerLink="/etransporte_registro" type="button" class="custom-btn">Regístrate</button>
    </div>
</div>

<div class="row  cliente-container">
    <div class="col-md-4">
        <div class="cliente-flex-first">
            <p class="text-lbempresasexpedidoras_1-252">Empresas cliente</p>
            <ul>
                <li>
                    <p class="text-lbservicioscliente_1-253">Gestión de cargas</p>
                </li>
                <li>
                    <p class="text-lbservicioscliente_1-253">Publicación de cargas</p>
                </li>
                <li>
                    <p class="text-lbservicioscliente_1-253">Estado del viaje</p>
                </li>
            </ul>
            <p>*Sujeto a términos y condiciones</p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <img src="assets/home_almacen.png" class="img-fluid" alt="Almacen">
    </div>
    <div class="col-md-4 text-center">
        <img src="assets/home_almacen2.png" class="img-fluid" alt="Almacen">
    </div>
</div>
<div class="container" style="margin-top: 20px;">
<div class="row">
        <button routerLink="/ecliente_registro" type="button" class="custom-btn">Regístrate</button>
</div>
</div>
<div class="container">
    <div class="footer-container">
        <p class="text-lbservicioscliente_1-253">Ofrece tus servicios y consigue transporte para tu carga en</p>
        <p class="txt_header_emptrans">CargaLink CDMX</p>
    </div>
</div>
<img src="assets/home_footer.png" class="img-fluid full-width-img" alt="Almacen">


<footer class="py-5 my-5 border-top">
    <div class="container">
        <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-5">
            <div class="col mb-3">
                <a href="/"
                    class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none text-cargalink_1-67">CargaLink
                    CDMX</a>
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                    <img src="assets/iconoprincipal.png" alt="Logo" width="auto" height="35" class="me-2">
                </a>
                <p class="text-body-secondary text_footer_items">cargalinkcdmx&#64;gmail.com</p>
            </div>

            <div class="col col-md-4 mb-3">

            </div>

            <div class="col mb-3">
                <h5 class="text_footer_titulos">Enlaces</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text_footer_items">Principal</a></li>
                    <li class="nav-item mb-2"><a routerLink="/etransporte_registro" class="nav-link p-0 text_footer_items">Empresas
                            transportistas</a></li>
                    <li class="nav-item mb-2"><a routerLink="/ecliente_registro" class="nav-link p-0 text_footer_items">Empresas
                            cliente</a>
                    </li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5 class="text_footer_titulos">Ayuda</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/login" class="nav-link p-0 text_footer_items">Iniciar sesión</a>
                    </li>
                    <li class="nav-item mb-2"><a routerLink="/terms" class="nav-link p-0 text_footer_items">Terminos y
                            condiciones</a></li>
                    <li class="nav-item mb-2"><a routerLink="/police" class="nav-link p-0 text_footer_items">Politica de
                            privacidad</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            </ul>
            <p class="text-center text-body-secondary">© 2024 CargaLink CDMX. Todos los derechos reservados</p>
        </div>
    </div>
</footer>